#projects {
    padding-top: 3em;
}

.project__item {
    margin: 0 0 2em 0;
    padding: 0;
    cursor: pointer;
    text-align: left;
    height: auto;
    width: auto;
}

.feed {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card__category {
    font-family: Muli,sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.project__title {
    margin: 0;
    font-size: var(--font-title--medium);
    font-family: var(--primary-text); 
    text-transform: uppercase;
    color: var(--primary-color);
    transition: .8s var(--smooth-snap); 
}

.project__title:hover {
    letter-spacing: 0.125em;
}

.project__keywords {
    margin: 0;
    font-size: 1.5em;
    font-family: var(--secondary-text); 
    text-transform: lowercase;
    color: var(--primary-color);
}

/* =====================
    SCROLL TEXT 
===================== */
.side__scroll {
    height: 1.5em;	
    width: 30em;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: auto;
   }

   .side__scroll p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 0.75em;
    text-align: left;

    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);

    -moz-animation: side__scroll 10s linear infinite;
    -webkit-animation: side__scroll 10s linear infinite;
    animation: side__scroll 10s linear infinite;
   }

   @-moz-keyframes side__scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes side__scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes side__scroll {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);} 
    }




    /* .card:nth-child(1), :nth-child(6), :nth-child(7) {
    grid-column-start: span 6;
}

.card:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(8), :nth-child(9) {
    grid-column-start: span 3;
} */

/* @media screen and (max-width: 1200px) {
    .card:nth-child(n) {
        grid-column-start: span 6;
    }
}

@media screen and (max-width: 800px) {
    .card:nth-child(n) {
        grid-column-start: span 12;
    }
} */