.project__hero {
  background-color: var(--primary-color);
  // background-color: red;
  height: auto;
  width: 100%;

  .project__title {
    font-family: var(--primary-text);
    font-size: var(--font-title--ex-large);
    color: var(--primary-color);
    text-transform: uppercase;
    text-shadow: -1px -1px 0 var(--rotation-color-primary),
      1px -1px 0 var(--rotation-color-primary),
      -1px 1px 0 var(--rotation-color-primary),
      1px 1px 0 var(--rotation-color-primary);
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0em;
    left: -0.125em;
    z-index: 0;
  }

  .project__desc {
    width: 40%;
    padding: 6rem 0;
    margin-left: 50%;

    p {
      font-size: var(--font-content--large);
      font-family: var(--secondary-text);
      color: var(--rotation-color-primary);
    }
  }

  a {
    text-decoration: none;
    color: var(--rotation-color-primary);
    text-decoration: underline;
    transition: box-shadow 0.75s var(--smooth-snap);

    &:visited {
      color: var(--rotation-color-primary);
    }

    &:hover {
      box-shadow: inset 0 -2.5rem 0 0 var(--accent-color);
    }
  }

  @media screen and (max-width: 800px) {
    .project__title {
      font-size: var(--font-title--medium);
    }

    .project__desc {
      width: 80%;
      margin-left: 15%;

      p {
        font-size: var(--font-content--small);
      }
    }
  }

  @media screen and (max-width: 500px) {
    .project__title {
      font-size: 4em;
    }

    .project__desc {
      p {
        font-size: 0.9em;
      }
    }
  }
}

#project__wrapper {
  width: 100%;
  background-color: var(--rotation-color-primary);

  .project__content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10%;
    overflow: hidden;

    .fluid {
      max-width: 960px;
      width: 100%;
    }

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      margin-bottom: 6rem;
    }
    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 20px 0;
    }

    img {
      margin: 20px 0;
    }

    h1 {
      font-family: var(--primary-text);
      font-size: var(--font-title--medium);
      color: var(--primary-color);
      margin: 20px 0;
    }

    h2 {
      font-family: var(--primary-text);
      color: var(--primary-color);
      font-size: 2em;
      margin: 80px 0 40px 0;
    }

    p {
      font-family: var(--secondary-text);
      font-size: var(--font-content--large);
      color: var(--primary-color);
      line-height: 1.4em;
      margin: 20px 0;
    }

    a {
      text-decoration: none;
      color: var(--primary-color);

      box-shadow: inset 0 -0.75rem 0 0 var(--rotation-color-primary--dark);
      transition: box-shadow 0.75s var(--smooth-snap);
    }
    a.start-offset {
      box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
    }
    a.start-offset:hover {
      box-shadow: inset 0 -0.5rem 0 0 var(--accent-color);
    }
    a:hover {
      box-shadow: inset 0 -2.5rem 0 0 var(--accent-color);
    }

    .center {
      text-align: center;
      // width: 90%;
      display: block;
      margin: 60px auto;
    }

    .right {
      float: right;
      margin: 40px 0 60px 60px;
    }

    @media screen and (max-width: 1000px) {
      .right {
        float: none;
        width: 90%;
        display: block;
        margin: 60px auto;
      }
    }

    @media screen and (max-width: 500px) {
      h2 {
        font-size: var(--font-title--small);
      }

      p {
        font-size: var(--font-content--small);
      }
    }
  }
}
