#cv {
  padding-top: 3em;
}

.cv__content {
  margin-left: 12em;
}

.cv__content--section {
  margin: 0;
  padding: 1em 0;
  font-size: var(--font-title--small);
  font-family: var(--primary-text); 
  text-transform: uppercase;
  color: var(--primary-color);
}




/* WORK SECTION */
.work__item {
  margin-left: 1em;
}





/* SKILLS SECTION  */
.skills-wrapper {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .column-title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }