#cv {
  padding-top: 3em;
}

.cv__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cv__content {
  /* margin-left: 12em; */
  display: flex;
  align-items: center;  
  /* width: 100%;  */
  /* max-width: 1200px; */
}

.cv__content--section {
  margin: 0;
  padding: 1em 0;
  font-size: var(--font-title--small);
  font-family: var(--primary-text); 
  text-transform: uppercase;
  color: var(--primary-color);
}

.resume__download {
  margin-top: 5em;
  text-align: center;
  font-size: var(--font-title--small);
  font-family: var(--primary-text);
} 
.resume__download a {
  text-decoration: none;
  color: var(--primary-color);

  box-shadow: inset 0 -0.75rem 0 0 var(--rotation-color-primary--dark);
  transition: box-shadow 0.75s var(--smooth-snap);
}
.resume__download a.start-offset {
  box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
}
.resume__download a.start-offset:hover {
  box-shadow: inset 0 -0.5rem 0 0 var(--rotation-color-primary--dark);
}
.resume__download a:hover {
  box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
}




/* WORK SECTION */
.work__item {
  margin-left: 2em;
  margin-bottom: 2em;
  font-family: var(--secondary-text);
}

.work__title {
  /* display: block; */
  line-height: 1.5em;
  /* text-decoration: underline; */
  color: var(--primary-color);
  font-weight: bold;
  font-size: var(--font-content--large);

  box-shadow: inset 0 -0.5rem 0 0 var(--rotation-color-primary--dark);
  transition: box-shadow 0.75s var(--smooth-snap);
}
.work__title.start-offset {
  box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
}
.work__title.start-offset:hover {
  box-shadow: inset 0 -0.5rem 0 0 var(--rotation-color-primary--dark);
}
.work__title:hover {
  box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
}

.work__item h3 {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
  font-size: var(--font-content--small);
}


.work__item span {
  font-style: italic;
  font-size: var(--font-content--tiny);
}

.work__date {
  color: var(--primary-color);
  font-style: italic;
  font-size: var(--font-content--tiny);
  margin: 0.5em 0;
}



/* EDUCATION */
.education__item {
  margin-left: 2em;
  margin-bottom: 2em;
  font-family: var(--secondary-text);
  color: var(--primary-color);
}

.education__title {
  margin: 0;
  font-weight: bold;
  font-size: var(--font-content--large);
}

.education__title span {
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-content--tiny);
}

.education__location {
  font-style: italic;
  font-size: var(--font-content--tiny);
  margin: 0.75em 0;
}

.education__date {

  font-style: italic;
  font-size: var(--font-content--tiny);
}

.education__info {

}


/* SKILLS SECTION  */
.skills-wrapper {
    /* margin: 15px; */
    font-family: var(--secondary-text);
    color: var(--primary-color);
    margin-left: 2em;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 2em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .column-title {
    font-size: var(--font-content--large);
    font-weight: bold;
    margin-bottom: 0.75em;
  }