@import "../vars.scss";

#contact {
  height: 100vh;
  margin: 0 auto;
  position: relative;

  .contact__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .email a {
    font-size: var(--font-title--medium);
    font-family: var(--primary-text);
    text-decoration: none;
    color: $c-primary--dark;
  }

  @media screen and (max-width: 1000px) {
    .email a {
      font-size: 3em;
    }
  }

  @media screen and (max-width: 800px) {
    .email a {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 500px) {
    .email a {
      font-size: var(--font-title--small);
    }
  }
}
