#contact {
  height: 100vh;
  margin: 0 auto;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin-top: 2em;
  font-size: var(--font-title--medium);
  font-family: var(--primary-text);
}
.email a {
  text-decoration: none;
  color: var(--primary-color);

  box-shadow: inset 0 -0.75rem 0 0 var(--rotation-color-primary--dark);
  transition: box-shadow 0.75s var(--smooth-snap);
}
.email a.start-offset {
  box-shadow: inset 0 -2.5rem 0 0 var(--rotation-color-primary--dark);
}
.email a.start-offset:hover {
  box-shadow: inset 0 -0.5rem 0 0 var(--accent-color);
}
.email a:hover {
  box-shadow: inset 0 -2.5rem 0 0 var(--accent-color);
}
