body {
  background-color: #eee;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
  border: 1em solid #B32B48;
}

section {
  height: 100vh;
}

/* h2 {
  font-family: Helvetica; 
  text-transform: uppercase;
  color: #B32B48;
} */