body {
  background-color: var(--rotation-color-primary);
  width: 100%;
  border-top: 0.3em solid var(--primary-color);

  /* animation: var(--color-rotation); */
}
@keyframes color-rotation {
  25% {background-color: var(--rotation-color-primary);}
  50% {background-color: var(--rotation-color-secondary);}
} 
     
.header__title {
  margin: 0;
  padding-bottom: 1.5em;
  /* padding: 0 0 1.5em 0; */
  font-family: var(--primary-text);
  text-transform: uppercase;
  color: var(--rotation-color-primary--dark);
  font-size: var(--font-title--medium);

  /* transform-origin: 50% 50%;
  transform: rotate(90deg); */
      
  /* animation: var(--color-rotation--dark); */
}
@keyframes color-rotation--dark {
  25% {color: var(--rotation-color-primary--dark);}
  50% {color: var(--rotation-color-secondary--dark);}
}

      
section {
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* padding-top: 3em; */

  /* background-color: red; */
}

footer {
  height: 100vh;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px; 

  display: flex;
  justify-content: center;
  align-items: center;
}
