body {
  /* background-color: #eee; */
  margin: 0 auto;
  /* padding: 0 10%;
  max-width: 1200px; */
  border-top: 0.3em solid #B32B48;

  /* animation: bg-ani 15s infinite;
  animation-timing-function: ease; */
}
/* @keyframes bg-ani {
  0% {background-color: hsl(0, 100%, 95%)}
  50%{background-color: hsl(60, 100%, 95%)}
  100% {background-color: hsl(180, 100%, 95%)}
}  */

section {
  height: 100vh;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px; 
}

footer {
  height: 100vh;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px; 
}