* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* font-size: 22px; */
  font-size: 16px;
}

body {
  border-top: 0.4em solid var(--primary-color);
  background-color: var(--rotation-color-primary);

  margin: 0;
  padding: 0;
}

section {
  height: auto;
  // width: 100%;
  margin: 0;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.25em;
}
::-webkit-scrollbar-track {
  background: var(--rotation-color-primary);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 1em;
}

.border-button:hover {
  border-width: 10px;
}

.header__title {
  font-family: var(--primary-text);
  font-size: var(--font-title--huge);
  color: var(--rotation-color-primary);
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  position: relative;
  top: -0.3em;
  left: -0.125em;
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  .header__title {
    font-size: var(--font-title--large);
  }
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 5em;
  }
}
