@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body {
  border-top: 0.4em solid $c-primary--dark;
  background-color: $c-primary;
  margin: 0;
  padding: 0;
}

section {
  height: auto;
  margin: 0;
  margin-bottom: 3em;
}

footer {
  text-align: center;
  margin: 1rem auto;
  color: $c-primary--dark;
  font-family: var(--secondary-text);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $c-primary--dark;

  &:visited {
    color: $c-primary--dark;
  }
}

/* LINK STYLING */
.link--box-style {
  box-shadow: inset 0 -0.75rem 0 0 $c-accent;
  transition: box-shadow 0.75s var(--smooth-snap);

  &:hover {
    box-shadow: inset 0 -2.5rem 0 0 $c-accent;
  }

  .link--box-style.start-offset {
    box-shadow: inset 0 -2.5rem 0 0 $c-accent;

    &:hover {
      box-shadow: inset 0 -0.5rem 0 0 $c-accent;
    }
  }
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.25em;
}
::-webkit-scrollbar-track {
  background: $c-primary;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $c-accent;
  border-radius: 1em;
}

.border-button:hover {
  border-width: 10px;
}

.header__title {
  font-family: var(--primary-text);
  font-size: var(--font-title--huge);
  color: $c-primary;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 $c-primary--dark, 1px -1px 0 $c-primary--dark,
    -1px 1px 0 $c-primary--dark, 1px 1px 0 $c-primary--dark;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  position: relative;
  top: -0.3em;
  left: -0.125em;
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  .header__title {
    font-size: var(--font-title--large);
  }
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 5em;
  }
}
