:root {
  --intro-scroll-size: 2em;

  /* TYPOGRAPHY */
  --primary-text: "DM Serif Display", serif;
  --secondary-text: "Anonymous Pro", monospace;

  /* SIZE */
  --font-title--huge: 12em;
  --font-title--ex-large: 7em;
  --font-title--large: 6em;
  --font-title--medium: 4em;
  --font-title--small: 1.5em;

  --font-content--ex-large: 1.5em;
  --font-content--large: 1.25em;
  --font-content--small: 1em;
  --font-content--tiny: 0.75em;

  --mobile-content--large: 1.25;

  /* WEIGHT */
  --font-weight--light: 500;
  --font-weight--medium: 600;

  /* EASING */
  --smooth-snap: cubic-bezier(0.75, 0, 0.175, 1);
}
