.image-gallery {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 6rem;

  .image-gallery--item {
    margin: 1rem;
  }
}

// @media screen and (max-width: 500px) {
//   .image-gallery {
//     .image-gallery--item {
//       margin: 0;

//       img {
//         width: 300px !important;
//         height: auto !important;
//       }
//     }
//   }
// }
