@import "../vars.scss";

#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  .header__content {
    text-align: center;
    height: auto;
    width: auto;
    line-height: 2.5em;

    .intro__name {
      margin: 0;
      font-size: var(--font-title--large);
      line-height: 1;
      font-family: var(--primary-text);
      text-transform: uppercase;
      color: $c-primary--dark;
    }

    .intro__description {
      font-family: var(--secondary-text);
      color: $c-primary--dark;
      font-weight: 400;
    }

    .intro__location {
      font-family: var(--secondary-text);
      color: $c-primary--dark;
      font-weight: 400;
    }

    .intro-scroll {
      display: flex;
      align-content: center;
      cursor: pointer;
      height: var(--intro-scroll-size);
      width: var(--intro-scroll-size);
      margin: auto;

      i {
        background-color: $c-primary--dark;
        border-radius: 0 0 5px 5px;
        content: "";
        display: inline-flex;
        height: 0;
        margin: 1em 0.25em;
        width: 0.25em;
        animation: intro-scroll-anim 3s infinite var(--smooth-snap);

        &:nth-child(1) {
          animation-delay: 0.19s;
        }
        &:nth-child(2) {
          animation-delay: 0;
          min-height: 0.3em;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
      }

      @keyframes intro-scroll-anim {
        0% {
          height: 0.25em;
        }
        50% {
          height: 1.5em;
        }
        100% {
          height: 0.25em;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .intro__name {
    font-size: var(--font-title--medium) !important;
    line-height: 1.5;
  }

  .intro__description {
    font-size: var(--font-content--large);
  }

  .intro__location {
    font-size: var(--font-content--small);
  }

  .intro-scroll i {
    background-color: $c-primary--dark;
    border-radius: 0 0 5px 5px;
    content: "";
    display: inline-flex;
    height: 0;
    margin: 1em 0.25em;
    width: 0.125em;
    animation: intro-scroll-anim 3s infinite var(--smooth-snap);
  }

  .intro-scroll i:nth-child(1) {
    animation-delay: 0.17s;
  }
  .intro-scroll i:nth-child(2) {
    animation-delay: 0;
  }
  .intro-scroll i:nth-child(3) {
    animation-delay: 0.28s;
  }

  @keyframes intro-scroll-anim {
    0% {
      height: 0em;
    }
    50% {
      height: 1.25em;
    }
    100% {
      height: 0em;
    }
  }
}

@media screen and (max-width: 500px) {
  .intro__name {
    font-size: 2.5em !important;
  }

  .intro__description {
    font-size: var(--font-content--small);
  }

  .intro__location {
    font-size: var(--font-content--tiny);
  }
}
