.home__container {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1;

  .home__link {
    font-size: var(--font-title--small);
    font-family: var(--secondary-text);
    color: var(--accent-color);
    text-shadow: 0px 1px 1.5px var(--accent-color--shadow);
    padding: 0 0.25rem;

    span {
      transition: 0.5s var(--smooth-snap);
      &:hover {
        letter-spacing: 0.125em;
      }
    }
  }
  .home__link--next {
    font-size: var(--font-content--small);
  }
}

@media screen and (max-width: 800px) {
  .home__container {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    .home__link {
      font-size: var(--font-content--small);
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 500px) {
  .home__container {
    position: fixed;
    bottom: 1rem;
    // left: 50%;
    // transform: translateX(-50%);

    .home__link {
      font-size: var(--font-content--small);
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 450px) {
  .home__container {
    .home__link {
      padding: 0;
    }
  }
}
