.nav__items {
    height: auto; 
    width: auto; 
    position: fixed; 
    z-index: 1; 
    top: 50%;
    right: 0;
    overflow-x: hidden; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    font-weight: var(--font-weight--light);
    font-size: var(--font-content--small);

    /* color: hsl(297, 6%, 20%);
    text-shadow: -2px -1.5px 3px hsl(297, 6%, 28%), 2px 2px 3px hsl(297, 6%, 15%);
    font-weight: 900; */
} 

/* .nav__items hr {
  border: none;
  border-left: 1px solid var(--rotation-color-primary--dark);
  height: 100vh;
  width: 1px; 
  margin-left: .45em;
  
} */

/* .hr__bottom {
  height: 20vh !important;
} */


/* .nav__item--left {
    margin-right: auto;
} */

/* .nav__item--logo {
    height: 40px;
    transition: all 0.25s ease-in-out;
}
.nav__item--logo:hover {
    transform: rotate(90deg);
} */

.nav__item--link {
    color: var(--primary-color);
    display: block;
    font-family: var(--secondary-text);
    text-decoration: none;
    padding: 2em 0;
    transition: 0.5s var(--smooth-snap); 
    visibility: hidden;
}

span {
    margin-right: 1em;
    visibility: visible;
    font-weight: var(--font-weight--medium);
    font-size: var(--font-content--large);
}

.nav__item--link:hover {
    color: var(--primary-color);
    transform: translateX(-1.125em);
    visibility: visible;
}

.active {
    color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
  .nav__items {
    height: auto; 
    width: auto; 
    position: fixed; 
    z-index: 1; 
    top: 5%;

    left: 0;
    right: 10%;
    text-align: center;
    overflow-x: hidden; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    font-weight: var(--font-weight--light);
    font-size: var(--font-content--small);
  }

  .nav__item--link {
    color: var(--primary-color);
    display: inline-block;
    font-family: var(--secondary-text);
    text-decoration: none;
    padding: 1em 0; 
    visibility: visible;
    font-weight: var(--font-weight--light);
  }

  span {
    margin-right: 0;
    visibility: hidden;
  }

  .nav__item--link:hover {
    color: var(--primary-color);
    transform: translateX(0);
  }
}


/* MOBILE NAV */

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }