.nav__items {
  height: auto;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 0;
  overflow-x: hidden;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-weight: var(--font-weight--light);
  font-size: var(--font-content--small);
}

.nav__item--left {
  margin-right: auto;
  font-size: var(--font-content--large);
}

.nav__item--link {
  color: var(--primary-color);
  display: block;
  font-family: var(--secondary-text);
  text-decoration: none;
  padding: 2em 0;
  transition: 0.5s var(--smooth-snap);
  visibility: hidden;
}

span {
  margin-right: 1em;
  visibility: visible;
  font-weight: var(--font-weight--medium);
  font-size: var(--font-content--large);
}

.nav__item--link:hover {
  color: var(--primary-color);
  transform: translateX(-1.125em);
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .nav__items {
    /* top: 7%;

    left: 0;
    right: 0;
    text-align: center;
    overflow-x: hidden; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    font-weight: var(--font-weight--light);
    font-size: var(--font-content--small);
  }

  .nav__item--link {
    color: var(--primary-color);
    display: inline-block;
    font-family: var(--secondary-text);
    text-decoration: none;
    padding: 1em 0;
    visibility: visible;
    font-weight: var(--font-weight--light);
  }

  span {
    margin-right: 0;
    visibility: hidden;
  }

  .nav__item--link:hover {
    color: var(--primary-color);
    transform: translateX(0);
  }
}
